TimeCoin/WcfService/Service References/ServiceReference1/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TipoUsuario">
    <xs:sequence>
      <xs:element name="descricao" nillable="true" type="xs:string" />
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoUsuario" nillable="true" type="tns:TipoUsuario" />
  <xs:complexType name="ArrayOfTipoUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoUsuario" nillable="true" type="tns:TipoUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoUsuario" nillable="true" type="tns:ArrayOfTipoUsuario" />
  <xs:complexType name="Situacao">
    <xs:sequence>
      <xs:element name="descricao" nillable="true" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Situacao" nillable="true" type="tns:Situacao" />
  <xs:complexType name="ArrayOfSituacao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Situacao" nillable="true" type="tns:Situacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSituacao" nillable="true" type="tns:ArrayOfSituacao" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element name="bairro" nillable="true" type="xs:string" />
      <xs:element name="cidade" nillable="true" type="xs:string" />
      <xs:element name="cpf_cnpj" nillable="true" type="xs:string" />
      <xs:element name="dataCadastro" type="xs:dateTime" />
      <xs:element name="descricao" nillable="true" type="xs:string" />
      <xs:element name="email" nillable="true" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="nome" nillable="true" type="xs:string" />
      <xs:element name="qtdHoraDisponivel" type="xs:int" />
      <xs:element name="qtdHoraTrabalhada" type="xs:int" />
      <xs:element name="senha" nillable="true" type="xs:string" />
      <xs:element name="situacao" nillable="true" type="tns:Situacao" />
      <xs:element name="telefoneCelular" nillable="true" type="xs:string" />
      <xs:element name="telefoneFixo" nillable="true" type="xs:string" />
      <xs:element name="tipoUsuario" nillable="true" type="tns:TipoUsuario" />
      <xs:element name="uf" nillable="true" type="xs:string" />
      <xs:element name="userName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="ArrayOfUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuario" nillable="true" type="tns:ArrayOfUsuario" />
  <xs:complexType name="Servico">
    <xs:sequence>
      <xs:element name="id" type="xs:int" />
      <xs:element name="nome" nillable="true" type="xs:string" />
      <xs:element name="situacao" nillable="true" type="tns:Situacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Servico" nillable="true" type="tns:Servico" />
  <xs:complexType name="ArrayOfServico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Servico" nillable="true" type="tns:Servico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServico" nillable="true" type="tns:ArrayOfServico" />
  <xs:complexType name="Habilidade">
    <xs:sequence>
      <xs:element name="descricao" nillable="true" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Habilidade" nillable="true" type="tns:Habilidade" />
  <xs:complexType name="ArrayOfHabilidade">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Habilidade" nillable="true" type="tns:Habilidade" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHabilidade" nillable="true" type="tns:ArrayOfHabilidade" />
  <xs:complexType name="Presta">
    <xs:sequence>
      <xs:element name="avaliacao" type="xs:double" />
      <xs:element name="data" type="xs:dateTime" />
      <xs:element name="qtdHora" type="xs:int" />
      <xs:element name="servico" nillable="true" type="tns:Servico" />
      <xs:element name="usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Presta" nillable="true" type="tns:Presta" />
  <xs:complexType name="ArrayOfPresta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Presta" nillable="true" type="tns:Presta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPresta" nillable="true" type="tns:ArrayOfPresta" />
  <xs:complexType name="Recebe">
    <xs:sequence>
      <xs:element name="avaliacao" type="xs:double" />
      <xs:element name="data" type="xs:dateTime" />
      <xs:element name="qtdHora" type="xs:int" />
      <xs:element name="servico" nillable="true" type="tns:Servico" />
      <xs:element name="usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Recebe" nillable="true" type="tns:Recebe" />
  <xs:complexType name="ArrayOfRecebe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Recebe" nillable="true" type="tns:Recebe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecebe" nillable="true" type="tns:ArrayOfRecebe" />
  <xs:complexType name="Anuncio">
    <xs:sequence>
      <xs:element name="bairro" nillable="true" type="xs:string" />
      <xs:element name="cidade" nillable="true" type="xs:string" />
      <xs:element name="data" type="xs:dateTime" />
      <xs:element name="descricao" nillable="true" type="xs:string" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="preRequisito" nillable="true" type="xs:string" />
      <xs:element name="servico" nillable="true" type="tns:Servico" />
      <xs:element name="situacao" nillable="true" type="tns:Situacao" />
      <xs:element name="tipoAnuncio" nillable="true" type="tns:TipoAnuncio" />
      <xs:element name="uf" nillable="true" type="xs:string" />
      <xs:element name="usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Anuncio" nillable="true" type="tns:Anuncio" />
  <xs:complexType name="TipoAnuncio">
    <xs:sequence>
      <xs:element name="descricao" nillable="true" type="xs:string" />
      <xs:element name="id" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoAnuncio" nillable="true" type="tns:TipoAnuncio" />
  <xs:complexType name="ArrayOfAnuncio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Anuncio" nillable="true" type="tns:Anuncio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAnuncio" nillable="true" type="tns:ArrayOfAnuncio" />
  <xs:complexType name="ArrayOfTipoAnuncio">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoAnuncio" nillable="true" type="tns:TipoAnuncio" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoAnuncio" nillable="true" type="tns:ArrayOfTipoAnuncio" />
  <xs:complexType name="UsuarioHabilidade">
    <xs:sequence>
      <xs:element name="habilidade" nillable="true" type="tns:Habilidade" />
      <xs:element name="id" type="xs:int" />
      <xs:element name="usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UsuarioHabilidade" nillable="true" type="tns:UsuarioHabilidade" />
  <xs:complexType name="ArrayOfUsuarioHabilidade">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UsuarioHabilidade" nillable="true" type="tns:UsuarioHabilidade" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuarioHabilidade" nillable="true" type="tns:ArrayOfUsuarioHabilidade" />
</xs:schema>