TimeCoin/WindowsForms/Web References/localhost/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="TipoUsuario">
    <xs:sequence>
      <xs:element name="_x003C_descricao_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_id_x003E_k__BackingField" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TipoUsuario" nillable="true" type="tns:TipoUsuario" />
  <xs:complexType name="ArrayOfTipoUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TipoUsuario" nillable="true" type="tns:TipoUsuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTipoUsuario" nillable="true" type="tns:ArrayOfTipoUsuario" />
  <xs:complexType name="Situacao">
    <xs:sequence>
      <xs:element minOccurs="0" name="descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="status" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Situacao" nillable="true" type="tns:Situacao" />
  <xs:complexType name="ArrayOfSituacao">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Situacao" nillable="true" type="tns:Situacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSituacao" nillable="true" type="tns:ArrayOfSituacao" />
  <xs:complexType name="Usuario">
    <xs:sequence>
      <xs:element name="_x003C_bairro_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_cidade_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_cpf_cnpj_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_dataCadastro_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_descricao_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_email_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_estado_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_id_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_nome_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_quantidadeHoraDisponivel_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_quantidadeHoraTrabalhada_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_senha_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_situacao_x003E_k__BackingField" nillable="true" type="tns:Situacao" />
      <xs:element name="_x003C_telefoneCelular_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_telefoneFixo_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_tipoUsuario_x003E_k__BackingField" nillable="true" type="tns:TipoUsuario" />
      <xs:element name="_x003C_userName_x003E_k__BackingField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Usuario" nillable="true" type="tns:Usuario" />
  <xs:complexType name="ArrayOfUsuario">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUsuario" nillable="true" type="tns:ArrayOfUsuario" />
  <xs:complexType name="Servico">
    <xs:sequence>
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="situacao" nillable="true" type="tns:Situacao" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Servico" nillable="true" type="tns:Servico" />
  <xs:complexType name="ArrayOfServico">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Servico" nillable="true" type="tns:Servico" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServico" nillable="true" type="tns:ArrayOfServico" />
  <xs:complexType name="Atividade">
    <xs:sequence>
      <xs:element minOccurs="0" name="descricao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="id" type="xs:int" />
      <xs:element minOccurs="0" name="nome" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Atividade" nillable="true" type="tns:Atividade" />
  <xs:complexType name="ArrayOfAtividade">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Atividade" nillable="true" type="tns:Atividade" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAtividade" nillable="true" type="tns:ArrayOfAtividade" />
  <xs:complexType name="Presta">
    <xs:sequence>
      <xs:element minOccurs="0" name="avaliacao" type="xs:double" />
      <xs:element minOccurs="0" name="data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="quantidadeHora" type="xs:int" />
      <xs:element minOccurs="0" name="servico" nillable="true" type="tns:Servico" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Presta" nillable="true" type="tns:Presta" />
  <xs:complexType name="ArrayOfPresta">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Presta" nillable="true" type="tns:Presta" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPresta" nillable="true" type="tns:ArrayOfPresta" />
  <xs:complexType name="Recebe">
    <xs:sequence>
      <xs:element minOccurs="0" name="avaliacao" type="xs:double" />
      <xs:element minOccurs="0" name="data" type="xs:dateTime" />
      <xs:element minOccurs="0" name="quantidadeHora" type="xs:int" />
      <xs:element minOccurs="0" name="servico" nillable="true" type="tns:Servico" />
      <xs:element minOccurs="0" name="usuario" nillable="true" type="tns:Usuario" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Recebe" nillable="true" type="tns:Recebe" />
  <xs:complexType name="ArrayOfRecebe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Recebe" nillable="true" type="tns:Recebe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecebe" nillable="true" type="tns:ArrayOfRecebe" />
</xs:schema>