TimeCoin/WindowsForms/Web References/localhost/Service10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26254/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" />
  <xs:element name="TipoUsuarioInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="tipoUsuario" nillable="true" type="q1:TipoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuarioInsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuarioUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="tipoUsuario" nillable="true" type="q2:TipoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuarioUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuarioDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="tipoUsuario" nillable="true" type="q3:TipoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuarioDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuarioSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="filtro" nillable="true" type="q4:TipoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuarioSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="TipoUsuarioSelectResult" nillable="true" type="q5:ArrayOfTipoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuarioVerificaDuplicidade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="filtro" nillable="true" type="q6:TipoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuarioVerificaDuplicidadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TipoUsuarioVerificaDuplicidadeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuarioVerificaExistencia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="filtro" nillable="true" type="q7:TipoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuarioVerificaExistenciaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TipoUsuarioVerificaExistenciaResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SituacaoInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="situacao" nillable="true" type="q8:Situacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SituacaoInsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SituacaoUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="situacao" nillable="true" type="q9:Situacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SituacaoUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SituacaoDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="situacao" nillable="true" type="q10:Situacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SituacaoDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SituacaoSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="filtro" nillable="true" type="q11:Situacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SituacaoSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="SituacaoSelectResult" nillable="true" type="q12:ArrayOfSituacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SituacaoVerificaDuplicidade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="situacao" nillable="true" type="q13:Situacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SituacaoVerificaDuplicidadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SituacaoVerificaDuplicidadeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="usuario" nillable="true" type="q14:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioInsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="usuario" nillable="true" type="q15:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="usuario" nillable="true" type="q16:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioVerificaLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="usuario" nillable="true" type="q17:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioVerificaLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsuarioVerificaLoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="filtro" nillable="true" type="q18:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="UsuarioSelectResult" nillable="true" type="q19:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioVerificaDuplicidade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="usuario" nillable="true" type="q20:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioVerificaDuplicidadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsuarioVerificaDuplicidadeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicoInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="servico" nillable="true" type="q21:Servico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicoInsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicoUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="servico" nillable="true" type="q22:Servico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicoUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicoDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="servico" nillable="true" type="q23:Servico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicoDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicoSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="filtro" nillable="true" type="q24:Servico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicoSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="ServicoSelectResult" nillable="true" type="q25:ArrayOfServico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicoVerificaDuplicidade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="servico" nillable="true" type="q26:Servico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicoVerificaDuplicidadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ServicoVerificaDuplicidadeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HabilidadeInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="habilidade" nillable="true" type="q27:Habilidade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HabilidadeInsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HabilidadeUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="habilidade" nillable="true" type="q28:Habilidade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HabilidadeUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HabilidadeDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="habilidade" nillable="true" type="q29:Habilidade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HabilidadeDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="HabilidadeSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="habilidade" nillable="true" type="q30:Habilidade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HabilidadeSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="HabilidadeSelectResult" nillable="true" type="q31:ArrayOfHabilidade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HabilidadeVerificaDuplicidade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="habilidade" nillable="true" type="q32:Habilidade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HabilidadeVerificaDuplicidadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HabilidadeVerificaDuplicidadeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrestaInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="presta" nillable="true" type="q33:Presta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrestaInsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrestaDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="presta" nillable="true" type="q34:Presta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrestaDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrestaSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="presta" nillable="true" type="q35:Presta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrestaSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="PrestaSelectResult" nillable="true" type="q36:ArrayOfPresta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecebeInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="recebe" nillable="true" type="q37:Recebe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecebeInsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecebeDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="recebe" nillable="true" type="q38:Recebe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecebeDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecebeSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="recebe" nillable="true" type="q39:Recebe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecebeSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="RecebeSelectResult" nillable="true" type="q40:ArrayOfRecebe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnuncioInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="anuncio" nillable="true" type="q41:Anuncio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnuncioInsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AnuncioUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="anuncio" nillable="true" type="q42:Anuncio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnuncioUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AnuncioDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="anuncio" nillable="true" type="q43:Anuncio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnuncioDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AnuncioSelect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AnuncioSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="AnuncioSelectResult" nillable="true" type="q44:ArrayOfAnuncio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnuncioVerificaDuplicidade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="anuncio" nillable="true" type="q45:Anuncio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AnuncioVerificaDuplicidadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AnuncioVerificaDuplicidadeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoAnuncioInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="tipoAnuncio" nillable="true" type="q46:TipoAnuncio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoAnuncioInsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoAnuncioUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="tipoAnuncio" nillable="true" type="q47:TipoAnuncio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoAnuncioUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoAnuncioDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="tipoAnuncio" nillable="true" type="q48:TipoAnuncio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoAnuncioDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoAnuncioSelect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoAnuncioSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="TipoAnuncioSelectResult" nillable="true" type="q49:ArrayOfTipoAnuncio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoAnuncioVerificaDuplicidade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="tipoAnuncio" nillable="true" type="q50:TipoAnuncio" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoAnuncioVerificaDuplicidadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TipoAnuncioVerificaDuplicidadeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioHabilidadeInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="usuarioHabilidade" nillable="true" type="q51:UsuarioHabilidade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioHabilidadeInsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioHabilidadeUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="usuarioHabilidade" nillable="true" type="q52:UsuarioHabilidade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioHabilidadeUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioHabilidadeDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="usuarioHabilidade" nillable="true" type="q53:UsuarioHabilidade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioHabilidadeDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioHabilidadeSelect">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioHabilidadeSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="UsuarioHabilidadeSelectResult" nillable="true" type="q54:ArrayOfUsuarioHabilidade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioHabilidadeVerificaDuplicidade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="usuarioHabilidade" nillable="true" type="q55:UsuarioHabilidade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioHabilidadeVerificaDuplicidadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="UsuarioHabilidadeVerificaDuplicidadeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>