TimeCoin/WindowsForms/Web References/localhost/Service10.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:26254/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" />
  <xs:element name="TipoUsuarioInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="tipoUsuario" nillable="true" type="q1:TipoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuarioInsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuarioUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="tipoUsuario" nillable="true" type="q2:TipoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuarioUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuarioDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="tipoUsuario" nillable="true" type="q3:TipoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuarioDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuarioSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="filtro" nillable="true" type="q4:TipoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuarioSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="TipoUsuarioSelectResult" nillable="true" type="q5:ArrayOfTipoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuarioVerificaDuplicidade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="filtro" nillable="true" type="q6:TipoUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TipoUsuarioVerificaDuplicidadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TipoUsuarioVerificaDuplicidadeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SituacaoInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="situacao" nillable="true" type="q7:Situacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SituacaoInsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SituacaoUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="situacao" nillable="true" type="q8:Situacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SituacaoUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SituacaoDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="situacao" nillable="true" type="q9:Situacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SituacaoDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SituacaoSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="filtro" nillable="true" type="q10:Situacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SituacaoSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="SituacaoSelectResult" nillable="true" type="q11:ArrayOfSituacao" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="usuario" nillable="true" type="q12:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioInsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="usuario" nillable="true" type="q13:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="usuario" nillable="true" type="q14:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="filtro" nillable="true" type="q15:Usuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UsuarioSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="UsuarioSelectResult" nillable="true" type="q16:ArrayOfUsuario" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicoInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="servico" nillable="true" type="q17:Servico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicoInsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicoUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="servico" nillable="true" type="q18:Servico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicoUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicoDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="servico" nillable="true" type="q19:Servico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicoDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicoSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="filtro" nillable="true" type="q20:Servico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ServicoSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="ServicoSelectResult" nillable="true" type="q21:ArrayOfServico" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtividadeInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="atividade" nillable="true" type="q22:Atividade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtividadeInsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AtividadeUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="atividade" nillable="true" type="q23:Atividade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtividadeUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AtividadeDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="atividade" nillable="true" type="q24:Atividade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtividadeDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="AtividadeSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="atividade" nillable="true" type="q25:Atividade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtividadeSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="AtividadeSelectResult" nillable="true" type="q26:ArrayOfAtividade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtividadeVerificaDuplicidade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="atividade" nillable="true" type="q27:Atividade" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AtividadeVerificaDuplicidadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AtividadeVerificaDuplicidadeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrestaInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="presta" nillable="true" type="q28:Presta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrestaInsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrestaUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="presta" nillable="true" type="q29:Presta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrestaUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrestaDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="presta" nillable="true" type="q30:Presta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrestaDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="PrestaSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="presta" nillable="true" type="q31:Presta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrestaSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="PrestaSelectResult" nillable="true" type="q32:ArrayOfPresta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrestaVerificaDuplicidade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="presta" nillable="true" type="q33:Presta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PrestaVerificaDuplicidadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PrestaVerificaDuplicidadeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecebeInsert">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="recebe" nillable="true" type="q34:Recebe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecebeInsertResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecebeUpdate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="recebe" nillable="true" type="q35:Recebe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecebeUpdateResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecebeDelete">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="recebe" nillable="true" type="q36:Recebe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecebeDeleteResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="RecebeSelect">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="recebe" nillable="true" type="q37:Recebe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecebeSelectResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="RecebeSelectResult" nillable="true" type="q38:ArrayOfRecebe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecebeVerificaDuplicidade">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/Biblioteca.ClassesBasicas" minOccurs="0" name="recebe" nillable="true" type="q39:Recebe" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RecebeVerificaDuplicidadeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RecebeVerificaDuplicidadeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>